<h2 mat-dialog-title>Success!</h2>
<mat-dialog-content>The Tasks have been updated successfully</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>OK</button>
</mat-dialog-actions>
