
<div class="col-md-4">
<h2>Your Schedule for today</h2>

<div class="container-fluid">
<mat-card class = "tp-card">
    <mat-card-header>
       <mat-card-title>Math Lecture</mat-card-title>
       <mat-card-subtitle>10-11</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
       class: 4A
       <br>
       Topic: Trignometry
    </mat-card-content>
    <mat-card-actions>
       <button mat-button onclick="window.location.href='https://w3docs.com';">Go to Meet</button>
       <button mat-button onclick="window.location.href='http://localhost:5000/';">Upload Attendance</button>

    </mat-card-actions>
 </mat-card>
</div>
<br>
<div class="container-fluid">
    <mat-card class = "tp-card">
        <mat-card-header>
           <mat-card-title>Science Lecture</mat-card-title>
           <mat-card-subtitle>11-12</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
           Class: 6A
           <br>
           Topic: Work, Power Energy
        </mat-card-content>
        <mat-card-actions>
           <button mat-button>Go to Meet</button>
           <button mat-button>Upload Attendance</button>

        </mat-card-actions>
     </mat-card>
    </div>
  <br>  
    <div class="container-fluid">
        <mat-card class = "tp-card">
            <mat-card-header>
               <mat-card-title>Math Lecture</mat-card-title>
               <mat-card-subtitle>2-3</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
               Class: 5B
               <br>
               Topic:Fractions 
            </mat-card-content>
            <mat-card-actions>
               <button mat-button>Go to Meet</button>
               <button mat-button>Upload Attendance</button>

            </mat-card-actions>
         </mat-card>
        </div>

      </div>

<div class="col-md-4">
   <br>
   <br>
   <button mat-raised-button routerLink="/tasks"> Add Tasks for the day</button>
   <br>
   <br>
   <button mat-raised-button> Upload Lecture Transcript</button>
   <br>
   <br>
   <button mat-raised-button> Send Updates to Parents</button>


</div>
