.tp-card {
    max-width: 400px;
    background-color: #ffbf1b;
 }
 .tp-header-image {
    background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
    background-size: cover;
 }

 .mat-raised-button {
    background-color: #e87800;
    color: white;
 }
 
 