

<div class="row">
  <div class="col-xs-6 col-md-4">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter task" id="txtSearch" [(ngModel)]="task"/>
          <input type="text" class="form-control" placeholder="Enter Link if any" id="txtSearch" [(ngModel)]="link"/>

          <div class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="onClick()">
  <span class="glyphicon glyphicon-ok"></span>
  </button>
          </div>
      </div>
  </div>
</div>
<div class="container example-container">
    <h2>Activities</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
    </div>
  </div>
  
  <div class="container example-container">
    <h2>Today</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="monday"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of monday" cdkDrag>{{item.name}}</div>
    </div>
  </div>

  <div class="container example-container">
    <h2>Tomorrow</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tuesday"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of tuesday" cdkDrag>{{item.name}}</div>
    </div>
  </div>
  <br>
  
  <button type="button" class="btn btn-primary btn-lg mat-raised-button" (click)="onUpdate()">Update</button>
  <br>
  