<nav class="navbar navbar-light" style="background-color: #e87800;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" routerLink="/">SHIKSHA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#" routerLink="/tasks">Tasks</a></li>
    </ul>
  </div>
</nav>

<!-- <app-homepage></app-homepage> -->
<!-- <nav>
  <a routerLink="/detail">Patient Details</a>
</nav> -->
<router-outlet></router-outlet>