<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiksha</title>
</head>
<body>
<form method=post enctype=multipart/form-data>
    <p>Upload the attendance CSV file: </p>
    <p>
        Class:
        <input type=text name="class"><br><br>
    </p>
    <p>
        Subject:
        <input type=text name="subject"><br><br>
    </p>
    <p>
        File:
        <input type=file name=file>
    </p>
    <input type=submit id="btn" value=Upload>

</form>

{% if uploaded %}
    <p>Your file has been uploaded</p>
{% endif %}

</body>
</html>