<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiksha</title>
</head>
<body>
<form method=post enctype=multipart/form-data>
    <p>Upload the transcript file: </p>
    <input type=file name=file><br><br>
    <input type=submit id="btn" value=Upload>

    {% if uploaded %}
        <div>{{summary}}</div>
    {% endif %}

</form>



</body>
</html>